
        <legend class="text-white">List of Enrolled Students:</legend> <a class="btn btn-light" href="/student"  role="button"><< Go back to Main Page</a>
        
        <br />
    
    <table class="table table-sm">
  <thead>
    <tr>
       <th scope="col"><p class="text-white">Andrew ID</p></th>
      <th scope="col"><p class="text-white">First Name</p></th>
      <th scope="col"><p class="text-white">Last Name</p></th>
      <th scope="col"><p class="text-white">Major</p></th>
      <th scope="col"><p class="text-white">E-mail</p></th>
      <th align="center" colspan="2" >Options</th>
    </tr>
  </thead>
  <tbody>
   <% @enrolled_students.each do |id, firstName, lastName, major, email| %>
        <tr><td scope="row"><a class="text-light" href="/student/<%= id %>"><%= id %></a> </td>
      <td><p class="text-white"><%= firstName %></p></td>
      <td><p class="text-white"><%= lastName %></p></td>
      <td><p class="text-white"><%= major %></p></td>
      <td><p class="text-white"><%= email %></p></td>
      <td><a href="/student/<%= id %>/edit" class="btn btn-info">Edit</a> </td>
      <td><a href ="/student/<%= id %>/delete" class='btn btn-danger'>Delete</a></td></tr>
    <% end %>  </tbody>
</table>

